.box {
  height: 150px;
  margin: 64px;
  border: 4px solid palevioletred;
  position: relative;
  /* z-index: -1; */
}

.circle {
  position: absolute;
  border-radius: 50%;
  border: inherit;
  background-color: white;
}

.big {
  width: 65px;
  height: 65px;
  left: -20px;
  top: -30px;
}

.medium {
  width: 35px;
  height: 35px;
  top: 50px;
  left: -20px;
}

.small {
  width: 25px;
  height: 25px;
  top: -15px;
  left: 55px;
}
